<div class="tile is-12">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{ user.name }}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <p>{{ comment_text }}</p>
            </div>
        </div>
    </div>
</div>