<div class="column columns is-multiline m-2 is-5 box">
    <div class="content column is-full">
        <h2>Review</h2>
        
    </div>
    <div class="card column is-full">
        <header class="card-header">
            <p class="card-header-title">
                {{ title }}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <p>{{ review_text }}</p>
            </div>
        </div>
    </div>
    <div class="content has-text-centered column is-full ">
        <h5>Comments</h5>
        <button class="button is-primary is-focused mr-4" id="add-comment">
            Add Comment
        </button>
                <div class="form" id="comment-form">
            <div class="field block">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Enter Review Title" id="title">
                </div>

            </div>
            <div class="field block">

                <label class="label">Review Text</label>
                <div class="control">
                    <input class="input" type="textarea" placeholder="Enter Your Review Here" id="review-text">
                </div>
            </div>
            <div class="field block">
                <label class="label">Rating</label>
                <div class="control">
                    <select name="rating" id="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="field block m-4">
                <button class="button is-primary is-focused mr-4" id="submit-review">
                    Add Review
                </button>
            </div>
        </div>

    </div>
    {{#each comments}}
    <div class="column is-8 is-offset-2">
        {{>comment}}
    </div>
    {{/each}}
</div>