<div class="tile is-12">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{ title }}
            </p>
            <button class="card-header-icon">
                <span class="icon">
                    <i class="fas"></i>
                </span>
            </button>
        </header>
        <div class="card-content">
            <div class="content">
                <p>{{ review_text }}</p>
            </div>
        </div>
    </div>
</div>