<div class="tile is-12">
    <h2>Review</h2>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{ title }}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <p>{{ review_text }}</p>
            </div>
        </div>
    </div>
</div>