<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bathroom Buddy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <nav class="navbar m-3">
        <div class="navbar-brand">
            <figure>
                <img src="./Images/prateek-katyal-PMKd1Qg7jJ0-unsplash.jpg" width="200" height="100">
            </figure>
        </div>
        <div class="navbar-menu">
            <a href="/" class="navbar-item"><strong>Bathroom Buddy</strong></a>
        </div>
        <div class="navbar-end">
            <a href="/" class="navbar-item">Home</a>
            <a href="/profile" class="navbar-item">User Profile</a>
            <div class="navbar-item">
                <div class="buttons">
                    {{#if logged_in}}
                    <button class="button is-primary" id="logout">Logout</button>
                    {{else}}
                    <a href="/login" class="button is-primary">Login</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </nav>
    <div class="columns is-multiline m-2 bg-img">
    
        {{{ body }}}       
    
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Bathroom Buddy</strong> was created by <a href="https://github.com/spicystephy">Stephanie
                    Zavala</a>, <a href="https://github.com/sarahbinaz1020">Sarah Bonnell</a>, and <a
                    href="https://github.com/bhfreeman">Brett Freeman</a>
            </p>
        </div>
    </footer>

    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}

</body>

</html>