<div class="tile is-ancestor">
    <div class="tile is-parent is-8">
        {{> individual-bathroom }}
            {{#each reviews}}
                {{>review}}
                {{#each comments}}
                {{>comment}}
                {{!-- {{this.comment_text}} --}}
                {{/each}}
            {{/each}}
    </div>
</div>