<div class="tile is-ancestor">
    <div class="tile is-parent is-8">
        {{#each bathrooms}}
        {{> individual-bathroom }}
        <div class="tile">
            {{#each bathroom.review}}
                {{>review}}
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>