<div class="columns column is-full has-background-dark is-vcentered search-form">
    <div class="column">
  <div>
    <h1 class="is-size-3 mb-2 has-text-centered has-text-weight-bold has-text-white">
      Search for a Restroom here:
    </h1>
  </div>
  <form class="column is-6 is-offset-3">
        <div class="field">
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input type="text" class="input" placeholder="City" id="city-text" />
                    </p>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input type="text" class="input" placeholder="2 Digit State Code" id="state-code" />
                    </p>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field-body">
                <div class="field has-text-centered mt-2">
                    <div class="control ">
                        <button class="button is-primary" id="search-button" type="submit">
                            Search
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
</div>

<div class="column is-8 is-offset-2">
    <div class="content has-text-centered">
        <h1 class="" id="p-title">
            We're here to help!
        </h1>
        <p id="p-content has-text-centered">
            Have you ever found yourself out in the world and an <em><strong>intestinal emergency</strong> </em> pops
            up?
        </p>
        <p>
            Instead of worrying about where to go to get some relief (preferably in a well-stocked, clean environment),
            you can rely on
        </p>
        <p id="name">Bathroom Buddy!</p>
        <figure>
            <img src="./Images/apple-touch-icon.png" width="75" height="100">
        </figure>
        <p>Just search your location to find nearby bathrooms and user reviews.
        </p>
        <p>Or create an account to add a location, leave a review, or comment on an existing location.

        </p>
        <p>No longer do you need to worry.
        </p>
        <a href="/api/search/create">
            <div class="control">
                <button class="button is-primary">
                    Add a Location
                </button>
            </div>
        </a>
        <div>
            <div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<script src="./js/search.js"></script>