<div class="columns column is-full has-background-dark is-vcentered search-form">
    <form class="column is-6 is-offset-3">
        <div class="field">
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input type="text" class="input" placeholder="City" id="city-text">
                    </p>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input type="text" class="input" placeholder="2 Digit State Code" id="state-code">
                    </p>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field-body" > 
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" id="search-button" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="column is-6 is-offset-3">
    <div class="content has-text-centered">
        <h1 class="">We're here to help!</h1>
        <p>Have you ever found yourself out in the world and an intestinal emergency pops up? Instead of worrying about
            where to go to get some relief you can rely on Bathroom Buddy! Just search your location to find nearby
            bathrooms and user reviews. No longer do you need to worry.</p>
    </div>

</div>

<script src="./js/search.js"></script>