<div class="column login-form">
    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-danger" type="email" placeholder="Enter Email" id="email-login">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-danger" type="password" placeholder="Enter Password" id="password-login">
            <span class="icon is-small is-left">
                <i class="fas "></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas"></i>
            </span>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light" type="submit">Cancel</button>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>