<div class="columns column is-full has-background-dark has-text-white is-vcentered">
    <div class="column is-three-quarters p-4">
        <p class="is-size-4 p-5">Email: {{user.email}}</p>
    </div >
    <div class="column is-one-quarter p-4 field is-grouped">
        <button class="button is-primary is-focused mr-4" id="email-button" type="submit">
            Update Email
        </button>
        <div>
            <div>
                <button class="button is-primary is-focused" id="email-button" type="submit">
                    Update Password
                </button>
            </div>
        </div>

    </div>
</div>
<div class="columns column is-full has-background-dark has-text-white is-vcentered mt-4">
    <div class="column is-three-quarters p-4">
        <p class="is-size-4 p-5">Delete Account or Reviews</p>
    </div>
    <div class="column is-one-quarter p-4 field is-grouped">
        <button class="button is-primary is-focused mr-4" id="email-button" type="submit">
            Delete Account
        </button>
        <div>
            <div>
                <button class="button is-primary is-focused" id="email-button" type="submit">
                    Delete Reviews
                </button>
            </div>
        </div>

    </div>
</div>


<script src="./js/profile.js"></script>