<div class="column signup-form">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter Full Name" id="name-signup">
        </div>
    </div>

    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-danger" type="email" placeholder="Enter Email" id="email-signup">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-danger" type="password" placeholder="Enter Password" id="password-signup">
            <span class="icon is-small is-left">
                <i class="fas "></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas"></i>
            </span>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" id="submit-button">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light" type="submit">Cancel</button>
        </div>
    </div>
</div>

<script src="/js/signup.js"></script>