.bg-img {
    background-image: url("/Images/papyrus.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#search-button {
    align-items: center;
}

#p-title {
    font-size: 50px;
}

#p-content {
    text-align:justify;
}

#name {
    font-size: 25px;
    font-weight: 600;
}
#comment-form {
    display: none;
}


